@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-smi: 0.81rem;

  /* Colors */
  --color-gray-100: rgba(0, 0, 0, 0.7);
  --color-gainsboro: #e6e6e6;
  --color-white: #fff;
  --color-black: #000;

  /* border radiuses */
  --br-xl: 20px;
}




.title,.title * {
  box-sizing: border-box;
}
.title {
  color: #198aca;
  text-align: center;
  font: 600 32px "Inter", sans-serif;
  position: relative;
  top: 100px; 
}

.line-3,
.line-3 * {
  box-sizing: border-box;
}
.line-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1270.73px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0.078deg) scale(1, 1);
  top: 120px;
  margin-left: 8rem; 
}

.stt,
.stt * {
  box-sizing: border-box;
}
.stt {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: relative;
  width: 141px;
  margin-left: 8rem;
  top: 120px;
}

.image,
.image * {
  box-sizing: border-box;
}
.image {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: relative;
  width: 75px;
  margin-left: 12rem;
  top: 120px;
}

.nameProduct,
.nameProduct * {
  box-sizing: border-box;
}
.nameProduct {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: relative;
  width: 169px;
  margin-left: 10rem;
  top: 120px;
}

.amount,
.amount * {
  box-sizing: border-box;
}
.amount {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: relative;
  width: 83px;
  margin-left: 8rem;
  top: 120px;
}

.price,
.price * {
  box-sizing: border-box;
}
.price {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: relative;
  width: 83px;
  margin-left: 10rem;
  top: 120px;
}

.total,
.total * {
  box-sizing: border-box;
}
.total {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: relative;
  width: 74px;
  margin-left: 10rem;
  top: 120px;
}
.rectanglePayment {
    background: rgba(25, 138, 202, 0.05);
    width: 542px;
    height: 318px;
    position: absolute;
    left: 800px;
    top: 400px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

.title-p-t,
.title-p-t * {
  box-sizing: border-box;
}
.title-p-t {
  color: #198aca;
  text-align: left;
  font: 600 32px "Inter", sans-serif;
  position: relative;
  margin-left: 2rem
}

.title-p-m,
.title-p-m * {
  box-sizing: border-box;
}
.title-p-m {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
  margin-left: 2rem
}

.momo-image{
  box-sizing: border-box;
  border-radius: 1px;
  width: 55px;
  height: 55px;
  position: relative;
}

.momo{
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
}

.stardust-checkbox__input-1{
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 20px;
  height: 20px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2rem
}

.stardust-checkbox__input-2{
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 20px;
  height: 20px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 8rem
}

.use-accumulated-points{
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
  margin-left: 2rem
}

.use-point{
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 254px;
  height: 33px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-left: 2rem
}

.rectangleTotal{
  background: rgba(25, 138, 202, 0.05);
  width: 542px;
  height: 284px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  left: 640px;
  top: 450px;
}

.title_price{
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: relative;
  margin-left: 2rem
}
.button_payment{
  background: linear-gradient(
    266.51deg,
    rgba(202, 25, 195, 1) 0%,
    rgba(25, 149, 202, 1) 100%
  );
  width: 466px;
  height: 61px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.confirm{
  color: #ffffff;
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: relative;
}